/* fonts */

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff2") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}




/* Variables */

:root {
  --white: #ffffff;
  --black: #000000;

  --red1: #ee3643;
  --red2: #b52933;
  --red3: #ba2732;
  --red4: #8e1e26;

  --blue1: #293449;
  --blue2: #161d29;
  --blue3: #32425c;
  --blue4: #3d546f;
  --blue5: #1d2739;

  --green1: #63a63e;
  --green2: #5fbb2d;

  --gray1: #f1f5f7;
  --gray2: #c5c5c5;

}




/* Scaffolding */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  text-transform: none;
  text-decoration: none;
}

.container {
  width: 940px;
  margin: auto;
}

.container--flex {
  display: flex;
  flex-wrap: wrap;
}



/* Blocks */

.page-header {
  background: var(--gray1);
  padding-bottom: 60px;
}

.page-header__top {
  background: var(--blue1);
}

.page-header__about {
  width: 300px;
  box-sizing: border-box;
  margin-right: 20px;
  padding-top: 42px;
  padding-bottom: 33px;
  padding-left: 30px;
  padding-right: 0;
}

.page-header__title {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: 100;
  color: var(--red1);
  margin-top: 0;
}

.page-header__contacts {
  width: 270px;
}

.page-header__user-block {
  width: 300px;
  margin-left: auto;
}




.logo {
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: var(--red1);
}

.logo::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--red2);
}

.logo:active {
  background: var(--red3);
}

.logo:active::before {
  background: var(--red4);
}

.logo__image {
  display: block;
  width: 108px;
  height: 18px;
}




.form-search {
  background: red;
  width: 270px;
  height: 42px;
  position: relative;
}

.form-search__input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 42px;
  padding-right: 10px;
  color: var(--white);
  background: var(--blue1);
}

.form-search__input::placeholder {
  color: var(--white);
}

.form-search__input:focus {
  background: var(--white);
  color: var(--black);
}

.form-search__input:focus::placeholder {
  color: var(--black);
}

.form-search__button {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 25px;
  height: 25px;
  border: none;
  font-size: 0;
  cursor: pointer;
  background: url("../img/") 50% 50% no-repeat;
}

.form-search__button-image {
  fill: rgba(255,255,255,0.3);
}

.form-search__button:hover .form-search__button-image {
  fill: var(--white);
}

.form-search__input:hover + .form-search__button > .form-search__button-image {
  fill: var(--white);
}

.form-search__input:focus + .form-search__button > .form-search__button-image {
  fill: var(--red1);
}




.checkout-block {
  width: 450px;
}

.checkout-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.checkout-block__item {
  width: 150px;
}

.checkout-block__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--white);
  text-decoration: none;
  word-break: break-all;
  position: relative;
}

.checkout-block__link--bookmarks {
  padding-left: 44px;
}

.checkout-block__link--cart {
  padding-left: 50px;
}

.checkout-block__link:active {
  background: var(--blue2);
  color: rgba(255,255,255,0.5);
}

.checkout-block__link::before {
  content: "";
  position: absolute;
  opacity: 0.3;
}

.checkout-block__link:hover::before {
  opacity: 1;
}

.checkout-block__link:active::before {
  opacity: 0.3;
}

.checkout-block__link--bookmarks::before {
  top: calc(50% - 8px);
  left: 20px;
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmarks.svg") 50% 50% no-repeat;
}

.checkout-block__link--cart::before {
  top: calc(50% - 8px);
  left: 26px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-cart.svg") 50% 50% no-repeat;
}

.checkout-block__link--checkout {
  margin-left: 0;
  justify-content: center;
  background: var(--green1);
}

.checkout-block__link--checkout:hover {
  background: var(--green2);
}

.checkout-block__link--checkout:active {
  background: var(--green1);
  color: rgba(255,255,255,0.5);
}




.header-contacts {
  padding-top: 46px;
}

.header-contacts__phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--red1);
  text-decoration: none;
  border: 3px solid var(--white);
  display: block;
  box-sizing: border-box;
  width: 270px;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 71px;
  padding-right: 20px;
  margin-bottom: 3px;
  position: relative;
}

.header-contacts__phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.svg") 50% 50% no-repeat;
}

.header-contacts__text {
  font-size: 14px;
  color: var(--blue3);
  text-align: center;
  margin-top: 0;
}




.user-block {
  padding-top: 46px;
}

.user-block__buttons-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-block__button {
  font-size: 21px;
  line-height: 21px;
  font-weight: 100;
  color: var(--black);
  text-decoration: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  position: relative;
  background: var(--white);
}

.user-block__button:hover {
  color: var(--red1);
}

.user-block__button:active {
  color: var(--gray2);
}

.user-block__button-icon {
  content: "";
  position: absolute;
  top: 14px;
  left: 19px;
  fill: var(--gray2);
}

.user-block__button:hover .user-block__button-icon {
  fill: var(--blue4);
}

.user-block__button:active .user-block__button-icon {
  fill: var(--gray2);
}

.user-block__button--login {
  padding-left: 46px;
  padding-right: 27px;
}




.main-nav {
  background: red;
}

.main-nav__list {
  background: var(--blue3);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-nav__list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--blue1);
}

.main-nav__item {
  width: auto;
}

.main-nav__link {
  color: var(--white);
  text-decoration: none;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 28px;
  padding-right: 28px;
}

.main-nav__link:hover {
  background: var(--blue1);
}

.main-nav__link:active {
  background: var(--blue5);
  color: rgba(255,255,255,0.5);
}

